@{
    ViewData["Title"] = "Login";
}
<div class="Log-in">
    <form action="SendCode" method="post">
        <section class="copy">
            <h2>LOG IN NOW</h2>
            <div class="signup-container">
                <p>Don't have an account yet? <a href="sign-up">
                Sign up</a>
                </p>
            </div> 
        </section>
        <div class="input-container username">
            <label for="username">UserName</label>
            <input id="username" name="username" type="username" />
        </div>
        <div class="input-container password">
            <label for="password">Password</label>
            <input id="password" name="password"  type="password" placeholder="Must be at least 6 characters"/>
        </div>
        <div class="input-container cta">
            <label class="checkbox-container">
                <input type="checkbox"/>
                <span class="checkmark"></span> 
                Remember me
                <a href="#" class="forgetpass">Forgot Password?</a>
            </label>
        </div>
        <button class="login-btn" type= "submit">Log in</button>
        <section class=" copy legal"> 
            <p><span class="small">By continuing, you agree to accept our <br/><a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a>.</span></p>
        </section>
    </form>
</div>