@{
    ViewData["Title"] = "CheckSMS";
}
<div class="SMS">
    <form action="LogingIn" method="post">
        <h2>Check your SMS Phone</h2>
        <div class="input-container smscode">
            <label for="smscode">SMS OTP</label>
            <input id="smscode" name="smscode"/>
        </div>
        <button class="smscheck-btn" type= "submit">Check my SMS</button>
    </form>
</div>
